In [1]:
import numpy as np  #numpy library used for working with arrays.
import pandas as pd #pandas library used for working with data analysis.

my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])
print(my_data)      #with np.array creating an array

[[ 0  3]
 [10  7]
 [20  9]
 [30 14]
 [40 15]]

In [2]:
my_column_names = ['temperature', 'activity']
print(my_column_names)  #creating column names

['temperature', 'activity']

In [3]:
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)
print(my_dataframe)         #using with pd.DataFrame connecting arrays with table

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [4]:
std1 = np.array([[0,0,0], [1,1,1], [2,2,2], [3,3,3], [4,4,4],[5,5,5]])
std2 = ['first_column', 'second_column','third_column']
std3 = pd.DataFrame(data=std1, columns=std2)
print(std3)

   first_column  second_column  third_column
0             0              0             0
1             1              1             1
2             2              2             2
3             3              3             3
4             4              4             4
5             5              5             5

In [5]:
my_dataframe["adjusted"] = my_dataframe["activity"] + 2
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [6]:
std3["fourth_column"] = std3["third_column"] 
print(std3)              #adding nothing means copying the third columns values

   first_column  second_column  third_column  fourth_column
0             0              0             0              0
1             1              1             1              1
2             2              2             2              2
3             3              3             3              3
4             4              4             4              4
5             5              5             5              5

In [7]:
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')  # data_frame_name.head() means adding index numbers for each row 
                                   #.head(3) adding index numbers starts 0 reach to 3

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

In [8]:
print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')  #.iloc just adding the specified number

Row #2:
   temperature  activity  adjusted
2           20         9        11

In [9]:
print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')       #speficying the index numbers with an array doing same thing with .head
                                     #[1:4] starts 1 ends 3

Rows #1, #2, and #3:
   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16

In [10]:
print("Column 'temperature':")
print(my_dataframe['temperature'])   #also writing the column name add index numbers

Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int32

In [11]:
my_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']  #creates column names

In [12]:
my_data = np.random.randint(low=0, high=101, size=(3, 4))  #creating an 3x4 array which gives random values between 0 and 101

In [13]:
df = pd.DataFrame(data=my_data, columns=my_column_names)   #creates data frame

In [14]:
print(df)

   Eleanor  Chidi  Tahani  Jason
0       90     37      72     40
1       83     75      45     62
2       99     92      44     60

In [15]:
print("\nSecond row of the Eleanor column: %d\n" % df['Eleanor'][1]) #gives just specified line value

Second row of the Eleanor column: 83

In [16]:
df['Janet'] = df['Tahani'] + df['Jason']  #adding another column end of the data frame which makes addition with two speficied columns

In [17]:
print(df)

   Eleanor  Chidi  Tahani  Jason  Janet
0       90     37      72     40    112
1       83     75      45     62    107
2       99     92      44     60    104

In [18]:
print("Experiment with a reference:")
reference_to_df = df

Experiment with a reference:

In [19]:
print("  Starting value of df: %d" % df['Jason'][1])
print("  Starting value of reference_to_df: %d\n" % reference_to_df['Jason'][1])

  Starting value of df: 62
  Starting value of reference_to_df: 62

In [20]:
df.at[1, 'Jason'] = df['Jason'][1] + 5
print("  Updated df: %d" % df['Jason'][1])
print("  Updated reference_to_df: %d\n\n" % reference_to_df['Jason'][1])  
                                            #if you makes changes with an referenced value which effect both of them(in data frame and in wanted one)

  Updated df: 67
  Updated reference_to_df: 67

In [21]:
print("Experiment with a true copy:")
copy_of_my_dataframe = my_dataframe.copy()

Experiment with a true copy:

In [22]:
print("  Starting value of my_dataframe: %d" % my_dataframe['activity'][1])
print("  Starting value of copy_of_my_dataframe: %d\n" % copy_of_my_dataframe['activity'][1])

  Starting value of my_dataframe: 7
  Starting value of copy_of_my_dataframe: 7

In [23]:
my_dataframe.at[1, 'activity'] = my_dataframe['activity'][1] + 3
print("  Updated my_dataframe: %d" % my_dataframe['activity'][1])
print("  copy_of_my_dataframe does not get updated: %d" % copy_of_my_dataframe['activity'][1])

                                          #if you copy your data frame to another data frame with using data_frame_name.copy() you can save your original data frame

  Updated my_dataframe: 10
  copy_of_my_dataframe does not get updated: 7